# Server Configuration
PORT=3000
NODE_ENV=development

# Kiwix Internal Base URL (Server-to-Server communication)
# Laptop / Dev default: http://si4k-server.local:8080
# Production default: http://localhost:8080
KIWIX_URL=http://si4k-server.local:8080

# Kiwix Public Base URL (Target for article links opened in user browser)
# Local LAN mode default: http://si4k-server.local:8080
# Internet mode production: https://wiki.si4k.online
KIWIX_PUBLIC_URL=https://wiki.si4k.online
